.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  width: 100%;
}
.wrapper{
  width: 400px;
}

.header{
  position: relative;
  height: 100px;
  background: #ff0000;
}

.purple-box-parent{
  position: absolute;
  background: #ffffff;
  top: 20px;
  right: 20px;
}

.purple-box{
  float: left;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background: #a9004b;
  margin: 10px;
}

.purple-box:nth-of-type(2){
  margin: 10px 5px
}

.side{
  float: left;
  width: 150px;
  height: 250px;
  background: #00ff51;
}

.content{
  padding: 40px;
  float: left;
  width: 250px;
  height: 250px;
  background: #8c2727;
}

.orange-box{
  width: 150px;
  height: 50px;
  background: #ff863f;
  border: solid 5px #ffffff;
  margin-bottom: 10px;
}

.footer{
  height: 100px;
  background: #ffd000;
}